/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-color-highlight: #fed049;
  --global-background-Color: #293b5f;

  --global-color-alpha-light: #4f95ff;
  --global-color-alpha: #3385ff;
  --global-color-alpha-dark: #2e77e6;
  --global-color-alpha-x-dark: #1b4186;
  --global-color-alpha-transparent: #3385ffbf;
  --global-color-alpha-x-transparent: #3385ff4d;

  --global-color-neutral-xxxx-light: #f5f6fa;
  --global-color-neutral-xxx-light: #e2e3e7;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-neutral-light: #a0a1ad;
  --global-color-neutral: #8b8c9a;
  --global-color-neutral-dark: #757787;
  --global-color-neutral-x-dark: #606274;
  --global-color-neutral-xx-dark: #4b4c60;
  --global-color-neutral-xxx-dark: #35374d;
  --global-color-neutral-xxxx-dark: #20223a;

  --global-font-color: white;
  --global-color-error: red;
  --global-input-error-borderColor: red;

  /* global page settings */
  --global-html-color: var(--global-color-neutral-xxxx-dark);
  --global-html-backgroundColor: var(--global-color-neutral-xxxx-light);
  --global-selection-backgroundColor: var(--global-color-alpha);

  /* borders */
  --global-borderRadius: 3px;
  --global-borderWidth: 1px;

  /* transitions */
  --global-transitionTiming-alpha: 0.1s ease-out;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* forms */
  --global-placeholder-color: var(--global-color-neutral-x-light);
  --global-input-backgroundColor: White;
  --global-input-color: var(--global-color-neutral-xxxx-dark);
  --global-input-borderColor: var(--global-color-neutral-xxx-light);
  --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
  --global-input-focus-borderColor: var(--global-color-alpha);
  --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
  --global-input-focus-boxShadow: 0 0 0 3px var(--global-input-focus-boxShadowColor);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  background-color: var(--global-background-Color);
  color: var(--global-font-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter Web', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*g
Elements: Images
---
Default markup for images to make them responsive
*/
img {
  max-width: 100%;
  vertical-align: top;
}

body {
  /* overflow-x: hidden; */
}
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 var(--global-whitespace);
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0;
  /* margin: 0 0 var(--global-whitespace); */
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 var(--global-whitespace);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 var(--global-whitespace);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: var(--global-whitespace-sm);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
  transition: all var(--global-transitionTiming-alpha);
  color: var(--global-color-alpha);
  outline-color: var(--global-link-BoxShadowColor);
  outline-width: medium;
  outline-offset: 2px;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--global-color-alpha-light);
}

a:active {
  color: var(--global-color-alpha-dark);
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--global-placeholder-color);
}
summary {
  font-size: 26px;
  border-bottom: 1px solid black;
  padding: 6px;
  transition: ease-in-out 1s;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: var(--global-whitespace) var(--global-whitespace) 0;
}

/* .o-row--login {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* size modifiers */

.o-row--lg {
  padding-top: var(--global-whitespace-xl);
  padding-bottom: var(--global-whitespace);
}

.o-row--xl {
  padding-top: var(--global-whitespace-xxl);
  padding-bottom: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
  .o-row {
    padding-left: var(--global-whitespace-xl);
    padding-right: var(--global-whitespace-xl);
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: var(--global-whitespace-xxl);
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  position: relative;
}

.o-section + .o-section {
  padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    padding-top: var(--global-whitespace-xl);
  }
}

@media (min-width: 992px) {
  .o-section--xl + .o-section--xl {
    padding-top: var(--global-whitespace-xxl);
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 calc(var(--global-whitespace) / 2);
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding: 0 var(--global-whitespace-xl);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Forms
    ---
    Everything form related here
*/
.c-form-field {
  position: relative;
}

.c-form-field--option {
  display: flex;
  align-items: center;
}

.c-form-field:focus-within .c-label-floating {
  transform: translateY(-24px);
}
.c-form-field .c-is-floating {
  transform: translateY(-24px);
}
/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
  width: 100%;
  border: var(--global-borderWidth) solid var(--input-borderColor, var(--global-input-borderColor));
  /* border: 1px solid var(--global-color-neutral-xxx-light); */
  border-radius: 100px;
  background-color: var(--global-input-backgroundColor);
  color: var(--global-input-color), var(--global-color-neutral-xx-dark);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;
  transition: border var(--global-transition-timing-alpha), box-shadow var(--global-transition-timing-alpha);
}

.c-input:hover {
  border-color: var(--global-input-hover-borderColor);
}

.c-input:focus,
.c-input:active {
  border-color: var(--global-input-focus-borderColor);
  box-shadow: var(--global-input-focus-boxShadow);
}

/*
Input password with toggle checkbox on top of it needs
more padding on the right to avoid overlap
*/

.c-input--password-with-toggle {
  padding-right: 52px;
}

/* option input for checkboxes and radio buttons */

.c-option {
  margin-right: var(--global-whitespace-sm);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --label-color: var(--global-color-neutral-xx-dark);
  margin-bottom: 0;
  padding-bottom: var(--global-whitespace-sm);
  font-size: 14px;
  line-height: 16px;
  color: var(--label-color, var(--global-color-neutral-xx-dark));
}

.c-label--option {
  padding-bottom: 0;
}

.c-label__error {
  color: var(--global-color-error);
  font-weight: bold;
}
/*
    Component: Button
    ---
    Class to put on form buttons or
*/

/*
    Component: Option list
*/

.c-option-list {
  margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
  margin-bottom: calc(var(--global-whitespace) / 2);
}

/*
    Custom option
    ---
    Custom checkboxes & radio buttons
*/

/* Hide the actual input with the class .o-hide-accessible */

.c-custom-option {
  --custom-option__symbol-Fill: var(--global-color-alpha);
  display: flex;
  align-items: center;
}

.c-custom-option__fake-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--global-whitespace-md);
  height: var(--global-whitespace-md);
  margin-right: var(--global-whitespace-sm);
  background: var(--global-input-backgroundColor);
  border: var(--global-borderWidth) solid var(--custom-option-borderColor, var(--global-input-borderColor));
  box-shadow: var(--custom-option-boxShadow, 0);
  transition: border var(--global-transitionTiming-alpha), box-shadow var(--global-transitionTiming-alpha);
}

/*
    Component: Custom Toggle
    ---
    Visually change a checkbox into a toggle
*/

.c-custom-toggle-list {
  --toggle-list-borderColor: var(--global-color-neutral-xxx-light);
  margin-bottom: var(--global-whitespace);
}

.c-custom-toggle-list__item {
  margin-bottom: calc(var(--global-whitespace) / 2);
}

.c-custom-toggle-list__item + .c-custom-toggle-list__item {
  padding-top: calc(var(--global-whitespace) / 2);
  border-top: 1px solid var(--toggle-list-borderColor);
}

.c-custom-toggle {
  --toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
  --toggle-checked-borderColor: var(--global-color-alpha-dark);
  --toggle-checked-backgroundColor: var(--global-color-alpha);
  --toggle-focus-boxShadow: var(--global-input-focus-boxShadow);
  --toggle__switch-backgroundColor: White;
  --toggle__switch-checked-backgroundColor: White;
  --toggle__switch-transition: all var(--global-transitionTiming-alpha);
  display: flex;
  align-items: center;
}

.c-custom-toggle--inverted {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.c-custom-toggle__fake-input {
  display: block;
  height: 24px;
  width: 48px;
  margin-right: var(--global-whitespace-md);
  background-color: var(--toggle-backgroundColor);
  border-radius: 32px;
  border: var(--global-borderWidth) solid var(--toggle-borderColor, var(--global-input-borderColor));
  transition: all var(--global-transitionTiming-alpha);
  box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
  margin-right: 0;
}

.c-custom-toggle__fake-input::after {
  position: relative;
  display: block;
  content: '';
  height: 22px;
  width: 22px;
  border-radius: 22px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--toggle__switch-backgroundColor);
  transition: var(--toggle__switch-transition);
}

/* focused and active state */

.c-option--hidden:focus-visible + .c-custom-toggle {
  --toggle-borderColor: var(--global-input-focus-borderColor);
  --toggle-boxShadow: var(--toggle-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-toggle {
  --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
  --toggle-borderColor: var(--toggle-checked-borderColor);
  --toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
  transform: translate(24px, 0);
}

/* special active state */

.c-custom-toggle:active .c-custom-toggle__fake-input::after {
  width: 28px;
}

.c-option--hidden:checked + .c-custom-toggle:active .c-custom-toggle__fake-input::after {
  margin-left: -6px;
}

/*
    Component: Custom Select
    ---
    Custom select dropdown
*/

.c-custom-select {
  display: block;
  position: relative;
  width: 100%;
}

.c-custom-select__input {
  font-weight: bold;
}
/*
    Component: Password Toggle
    ---
    Password toggle custom checkbox
*/

.c-toggle-password-container {
  display: block;
  position: relative;
}

/*
  Component: Background
  ---
  Background for the site
*/

.c-background {
  /* background-image: url('/Images/OldSchoolPokémonBG.png'); */
  background-color: var(--global-background-Color);
  display: flex;

  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.c-pokésprite {
  width: 300px;
  height: 300px;
  padding: var(--global-whitespace-sm);
}

.c-pokémon {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.c-pokémonimg {
  /* background-image: url('/Images/PB_background.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  border-radius: 20px;
  border: 1px solid black;
  /* box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.4); */
  margin: 0 auto;
  width: 300px;
  height: 300px;

  margin-bottom: var(--global-whitespace-lg);
}
/* .c-movelist {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

/* .c-move {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 6px;
  background-color: white;
  margin: 0 auto;
}
td {
  border: 1px solid black;
  width: px;
} */
td {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.4);
}

th {
  text-align: center;
  border-radius: 20px;
  background-color: var(--global-color-highlight);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.4);
}

table {
  width: 90%;
  background-color: var(--global-background-Color);
  border: 5px solid var(--global-background-Color);
  border-radius: 20px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.c-title {
  margin: 2rem auto;
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
}
.c-select {
  margin-bottom: var(--global-whitespace);
}

.c-grid {
  display: grid;
  grid-template-columns: 43rem 43rem;
  grid-row: repeat(auto-fill, [row] auto);
  justify-content: center;
  align-items: center;
  grid-gap: 25px;
  /* grid-row-gap: 25px; */
}

@media (max-width: 1350px) {
  .c-grid {
    grid-template-columns: 650px;
  }
}

.c-grid__item {
  background-color: white;
  border-radius: 5px;
  justify-self: center;
  align-self: flex-start;
  font-size: 30px;
  text-align: center;
  width: 43rem;
  min-height: 35rem;
  height: auto;
  color: #000;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
  margin: 0;
}

.c-grid__item-long {
  background-color: white;
  border-radius: 5px;
  font-size: 30px;
  margin: 0;
  min-height: 35rem;

  width: 43rem;
  justify-self: center;
  height: auto;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);

  color: #000;
}

.c-grid__content {
  padding: var(--global-whitespace-lg);
}

.c-page {
  padding: 7% 0;
  margin-top: 10%;
  width: 100vw;
}

.c-learnset {
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.c-maintitle {
  font-size: 5rem;
  margin-bottom: 48px;
  line-height: 82px;
  font-family: 'Pokemon Hollow', sans-serif;
}
.c-totstats {
  background-color: var(--global-background-Color);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--global-font-color);
}

.c-special {
  background-color: #007580;
  color: white;
}

.c-physical {
  background-color: #c92112ed;
  color: white;
}

.c-status {
  background-color: grey;
  color: white;
}

/*
  Component: Types
  A component that gives types a color
*/
.c-types {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.c-type {
  width: 20vw;
  border-radius: 20px;
  font-size: 24px;
}

.c-type-fire {
  background-color: #f08030;
  color: var(--global-font-color);
}
.c-type-water {
  background-color: #6890f0;
  color: var(--global-font-color);
}
.c-type-grass {
  background-color: #78c850;
  color: var(--global-font-color);
}
.c-type-electric {
  background-color: #f8d030;
  color: var(--global-font-color);
}
.c-type-poison {
  background-color: #a040a0;
  color: var(--global-font-color);
}
.c-type-flying {
  background-color: #a890f0;
  color: var(--global-font-color);
}
.c-type-fighting {
  background-color: #c03028;
  color: var(--global-font-color);
}
.c-type-steel {
  background-color: #b8b8d0;
  color: var(--global-font-color);
}
.c-type-fairy {
  background-color: #ee99ac;
  color: var(--global-font-color);
}
.c-type-psychic {
  background-color: #f85888;
  color: var(--global-font-color);
}
.c-type-dark {
  background-color: #705848;
  color: var(--global-font-color);
}
.c-type-ghost {
  background-color: #705898;
  color: var(--global-font-color);
}
.c-type-ice {
  background-color: #98d8d8;
  color: var(--global-font-color);
}
.c-type-dragon {
  background-color: #7038f8;
  color: var(--global-font-color);
}
.c-type-ground {
  background-color: #e0c068;
  color: var(--global-font-color);
}
.c-type-rock {
  background-color: #b8a038;
  color: var(--global-font-color);
}
.c-type-normal {
  background-color: #a8a878;
  color: var(--global-font-color);
}
.c-type-bug {
  background-color: #a8b820;
  color: var(--global-font-color);
}

/* .c-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d8ebe4;
} */
.c-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.c-disepear {
  visibility: hidden;
}

.c-back {
  fill: var(--global-color-highlight);
  background-color: var(--global-background-Color);
  border-radius: 50%;
  width: 40px;
  height: auto;
}

.c-next {
  fill: var(--global-color-highlight);
  background-color: var(--global-background-Color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.c-shiny {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.c-shinySparkle {
  fill: grey;
}

.c-shinySparkle:hover {
  fill: darkgray;
}

.c-option--hidden:checked + .c-custom-option .c-shinySparkle {
  fill: var(--global-color-highlight);
}
.c-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.c-name p {
  margin: 0;
}

.c-dot {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #00ff00;
  border-radius: 20px;
  z-index: 2;
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
  color: var(--global-color-neutral);
}

.u-color-neutral-dark {
  color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
  margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
  margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
  margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
  width: auto !important;
}

.u-1-of-2 {
  width: 50% !important;
}

.u-1-of-3 {
  width: 33.3333333333% !important;
}

.u-2-of-3 {
  width: 66.6666666667% !important;
}

.u-1-of-4 {
  width: 25% !important;
}

.u-3-of-4 {
  width: 75% !important;
}

.u-1-of-5 {
  width: 20% !important;
}

.u-2-of-5 {
  width: 40% !important;
}

.u-3-of-5 {
  width: 60% !important;
}

.u-4-of-5 {
  width: 80% !important;
}

.u-1-of-6 {
  width: 16.6666666667% !important;
}

.u-5-of-6 {
  width: 83.3333333333% !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    width: 50% !important;
  }
  .u-1-of-3-bp1 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp1 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp1 {
    width: 25% !important;
  }
  .u-3-of-4-bp1 {
    width: 75% !important;
  }
  .u-1-of-5-bp1 {
    width: 20% !important;
  }
  .u-2-of-5-bp1 {
    width: 40% !important;
  }
  .u-3-of-5-bp1 {
    width: 60% !important;
  }
  .u-4-of-5-bp1 {
    width: 80% !important;
  }
  .u-1-of-6-bp1 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp1 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    width: 50% !important;
  }
  .u-1-of-3-bp2 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp2 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp2 {
    width: 25% !important;
  }
  .u-3-of-4-bp2 {
    width: 75% !important;
  }
  .u-1-of-5-bp2 {
    width: 20% !important;
  }
  .u-2-of-5-bp2 {
    width: 40% !important;
  }
  .u-3-of-5-bp2 {
    width: 60% !important;
  }
  .u-4-of-5-bp2 {
    width: 80% !important;
  }
  .u-1-of-6-bp2 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp2 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    width: 50% !important;
  }
  .u-1-of-3-bp3 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp3 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp3 {
    width: 25% !important;
  }
  .u-3-of-4-bp3 {
    width: 75% !important;
  }
  .u-1-of-5-bp3 {
    width: 20% !important;
  }
  .u-2-of-5-bp3 {
    width: 40% !important;
  }
  .u-3-of-5-bp3 {
    width: 60% !important;
  }
  .u-4-of-5-bp3 {
    width: 80% !important;
  }
  .u-1-of-6-bp3 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp3 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    width: 50% !important;
  }
  .u-1-of-3-bp4 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp4 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp4 {
    width: 25% !important;
  }
  .u-3-of-4-bp4 {
    width: 75% !important;
  }
  .u-1-of-5-bp4 {
    width: 20% !important;
  }
  .u-2-of-5-bp4 {
    width: 40% !important;
  }
  .u-3-of-5-bp4 {
    width: 60% !important;
  }
  .u-4-of-5-bp4 {
    width: 80% !important;
  }
  .u-1-of-6-bp4 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp4 {
    width: 83.3333333333% !important;
  }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
